[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"
pandas = "*"

[packages]
boto3 = "*"
bs4 = "*"
html5lib = "*"
ipython = "*"
psycopg2 = "*"
requests = "*"
s3fs = "*"
Django = "*"
scrapy = "*"
extruct = "*"
pillow = "*"
scrapy-splash = "*"
babel = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
pandas = "*"

[requires]
python_version = "3.7"
