{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h4 class="mt-2 mb-4">Search Products</h4>
    <form method="GET" id="productForm"
          data-types-url="{% url 'milaner:ajax_load_types' %}" novalidate>
        {{ form|crispy }}
        <div class="row">
            <div class="col-6">
                {{ filter.form.manufacturer|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ filter.form.gender|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ filter.form.category|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ filter.form.type|as_crispy_field }}
            </div>
        </div>
        {{ filter.form.title|as_crispy_field }}
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
    <ul class="list-group shadow mt-4">
        {% for obj in filter.qs %}
            <a class="list-group-item" href="{% url 'milaner:product_detail' pk=obj.pk %}">{{ obj.title }}
                {{ obj.manufacturer.name }}
            <img src="{{ obj.main_image }}" class="img-thumbnail float-right" alt="product thumbnail" height="300" width="300">
            </a>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_category").change(function () {
            let url = $("#productForm").attr("data-types-url");
            let categoryId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'category': categoryId
                },
                success: function (data) {
                    $("#id_type").html(data);
                }
            });

        });
    </script>
{% endblock %}
