{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h4 class="mt-2 mb-2">Search Products</h4>
    <!--Search By Parameter Container-->
    <div class="container-fluid border rounded pt-3 pl-4 pr-4 pb-3 mb-4">
        <form method="GET" id="productForm"
              data-types-url="{% url 'milaner:ajax_load_types' %}" novalidate>
            {{ form | crispy }}
            <div class="row">
                <div class="col-6">
                    <h5>By Parameters</h5>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-dark float-right">
                        Search
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ filter.form.manufacturer | as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ filter.form.gender | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ filter.form.category | as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ filter.form.type | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ filter.form.design_details | as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ filter.form.materials | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ filter.form.title | as_crispy_field }}
                </div>
            </div>
        </form>
    </div>
    <!--Search By Image Container-->
    <div class="container-fluid border rounded pt-3 pl-4 pr-4 pb-3">
        <form method="post" enctype="multipart/form-data" id="ReverseImage">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <h5>By Image</h5>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-dark float-right">
                        Search
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="file" name="image_file" accept="image/*">
                </div>
            </div>
            {% if file_url %}
                <div class="row">
                    <img class="rounded img-thumbnail float-right" src="{{ file_url }}" alt="uploaded image" width="20%">
                </div>
            {% endif %}
        </form>
    </div>
    <!-- Product listing -->
    {% if products %}
        <div class="row mt-4">
            {% for product in products %}
                <div class="col-md-4 mt-2 mb-2">
                    <div class="card h-100">
                        <a href="{% url 'milaner:product_detail' pk=product.pk %}">
                            <img class="card-img-top" src="{{ product.main_image }}" alt="{{ product.title }}">
                        </a>
                        <div class="card-body bg-light">
                            <h6>{{ product.title_grid }}</h6>
                            <p>{{ product.manufacturer.name }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
    {% else %}
        <div class="mt-4">
            <h6>No products found</h6>
        </div>
    {% endif %}
    <!-- pagination -->
    {% if products.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center mt-4">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span>
                    </li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                    {% if i <= products.number|add:5 and i >= products.number|add:-5 %}
                        {% if products.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <li class="page-item">
                        <a href="?page={{ products.next_page_number }}" class="page-link">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <!-- type category chain -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        jQuery.noConflict();
        (function ($) {
            $("#id_category").change(function () {
                let url = $("#productForm").attr("data-types-url");
                let categoryId = $(this).val();
                $.ajax({
                    url: url,
                    data: {
                        'category': categoryId
                    },
                    success: function (data) {
                        $("#id_type").html(data);
                    }
                });
            })
        })(jQuery);
    </script>
{% endblock %}
